.path{
    padding-block: 100px;
}
.visual__box{
    background-color: hsla(45, 37%, 26%, 0.723);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
}
.angel__visual{
    margin-block-end: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 220px;
}
.active__angel{
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 8px 8px rgba(0,0,0,0.11), 
    0 16px 16px rgba(0,0,0,0.11), 
    0 32px 32px rgba(0,0,0,0.11);
}

.unactive__angel{
    background-color: transparent;
    box-shadow: none;
}
.path__title{
    font-size: 30px;
    color: hsl(222, 43%, 9%);
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-block-end: 20px;
}

.path__subT{
    display: block;
    font-size: 20px;
    color: #71a63c;
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-block-end: 20px;
    padding-block-end: 10px;
    border-bottom: 3px solid #ffc300;
}

.gradient__box{
    width: 300px;
    flex-shrink: 0;
    height: 500px;
}

.form__direaction{
    background-color: #ffe5ec;
    padding: 20px;
    width: 100%;
    margin-block-end: 10px;
    align-self: flex-start;
}

.select{
    font-size: 20px;
    padding: 15px;
    background-color: transparent;
    border-radius: 20px;
}

.legend{
    font-size: 20px;
    color: #03045e;
}

.flex__group{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.code__box{
    padding: 20px;
    background-color: #bde0fe;
}

.code{
    font-size: 20px;
    color: hsl(90, 24%, 8%);
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-block-end: 20px;
}