.generate{
    padding-block: 100px;
}
.gradient__preview{
    width: 300px;
    height: 500px;
}

.wrapper{
    padding-block: 100px;
    padding-inline: 50px;
    display: flex;
    gap: 40px;
    background-color: hsl(222, 43%, 9%, .9);
    backdrop-filter: blur(10px);
}

.colors{
    border: 1px solid black;
    padding: 20px;
}

.flex__group{
    display: flex;
    gap: 20px;
}